@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: "Figtree Variable", 'Inter Variable';
}

@layer base {
  /* Animations and Scrollbar */
  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  @keyframes blur {
    to {
      backdrop-filter: blur(10px);
    }
  }
}
