---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main
    class="max-w-screen-md px-4 mb-24 object-center m-auto text-center select-none"
  >
    <section class="mt-24 md:mt-32 mb-12">
      <h1 class="text-4xl md:text-5xl font-bold tracking-tight mb-4">
        Chef Khỉ
      </h1>
    </section>
  </main>
</Layout>
